@model Datamanager_Mockup.Models.VM_artikel



<div class="d-flex">

    <div class="col-lg-2 border">@Model.ArticleNumber</div>
    <div class="col-lg-9 border">@Model.Description</div>
    <div class="col-lg-1 border">@Model.Stock</div>

</div>


