@model List<Datamanager_Mockup.Models.VM_artikel>

@{
    ViewBag.Title = "Artiklar";


    int pages = 5;          /*Mockup values, to be coded properly later*/
    int currentpage = 0;
}

<h2 class="pt-1">Artiklar</h2>




<div class="d-flex">

    <div class="col-4 border" style="height:800px">



        <p class="text-danger">Filterfunktioner här - TBA</p>
        <br /><br /><br /><br /><br />

        <hr />


        <div class="d-flex pt-1">

            <div class="col-lg-2 tiny border">Artikelnummer</div>
            <div class="col-lg-9 tiny border">Beskrivning</div>
            <div class="col-lg-1 tiny border">Lagersaldo</div>

        </div>


        @Html.Partial("_ListOfArticles", Model)         @*Inserts a PV which lists all articles*@



        @if (pages > 1)
        {
            <ul class="pagination pagination-sm col-10 py-1">
                @for (int i = 0; i < pages; i++)
                {
                    if (i == currentpage)
                    {
                        <li class="page-item active">
                            @Html.ActionLink((i + 1).ToString(), "Nothing", "Home", new { id = 10 }, new { @class = "page-link" })
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink((i + 1).ToString(), "Nothing", "Home", new { id = 10 }, new { @class = "page-link" })
                        </li>
                    }
                }

            </ul>
        }
    
    </div>


    <div class="col-8" id="TabField">


        @Html.Partial("_TabPane", Model.FirstOrDefault())




    </div>






</div>