@model List<Datamanager_Mockup.Models.VM_artikel>

@{
    ViewBag.Title = "Artiklar";


    int pages = 5;          /*Mockup values, to be coded properly later*/
    int currentpage = 0;
}

<h2 class="pt-1">Artiklar</h2>




<div class="d-flex">

    <div class="col-md-8 col-lg-8  border" style="height:800px">



        <p class="text-danger">Filterfunktioner här - TBA</p>
        <br /><br /><br /><br /><br />

        <hr />


        <div class="d-flex pt-1">

            <div class="col-lg-2 border">Artikelnummer</div>
            <div class="col-lg-9 border">Beskrivning</div>
            <div class="col-lg-1 border">Lagersaldo</div>

        </div>


        @Html.Partial("_ListOfArticles", Model)         @*Inserts a PV which lists all articles*@







        @if (pages > 1)
        {

            <ul class="pagination col-10 py-1">
                @for (int i = 0; i < pages; i++)
                {
                    if (i == currentpage)
                    {
                        <li class="page-item active">
                            @Html.ActionLink((i + 1).ToString(), "Nothing", "Home", new { id = 10 }, new { @class = "page-link" })
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @Html.ActionLink((i + 1).ToString(), "Nothing", "Home", new { id = 10 }, new { @class = "page-link" })
                        </li>
                    }
                }

            </ul>
        }












    </div>


    <div class="col-md-4 col-lg-4">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#newarticle" role="tab" data-toggle="tab">Ny artikel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#functions" role="tab" data-toggle="tab">Funktioner</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane in active" id="newarticle">


                @using (Html.BeginForm("AddArticle", "Home", FormMethod.Post))
                {
                    <label for="filter">Artikelnummer:</label>
                    <input type="text" class="form-control" id="Artnr" name="Artnr">

                    <label for="filter">Beskrivning:</label>
                    <input type="text" class="form-control" id="Desc" name="Desc">

                    <label for="filter">Kategori:</label>
                    <input type="text" class="form-control" id="Category" name="Category">

                    <br />

                    <input type="submit" class="btn btn-basic" value="Lägg till">

                    <input type="submit" class="btn btn-basic" value="Rensa">

                    <label for="case_sensitive">Lägg till som produkt </label>
                    <input type="checkbox" id="autoProduct" value="true" name="autoProduct" />
                    <input type="hidden" value="false" name="autoProduct">

                }
            </div>
            
            
            <div role="tabpanel" class="tab-pane" id="functions">

                <input type="submit" class="btn btn-basic m-1" value="Skapa produkt av valda artiklar">
                <input type="submit" class="btn btn-basic m-1" value="Radera valda artiklar">
                <input type="submit" class="btn btn-basic m-1" value="Räkna om lagersaldo (valda)">
                <input type="submit" class="btn btn-basic m-1" value="Räkna om lagersaldo (alla)">
                <input type="submit" class="btn btn-basic m-1" value="Ändra lagersaldo">

            </div>
            
            
            <div role="tabpanel" class="tab-pane" id="references">ccc</div>
        </div>

    </div>

    @*<div class="col-md-4 col-lg-4">

        <div class="border" style="height:500px">

            <div class="col-12 pt-1">


            </div>


        </div>














        <div class="border" style="height:300px">

            <div class="col-12 pt-1">



            </div>
        </div>


    </div>*@





</div>