
@{
    ViewBag.Title = "Bestallningar";
}

<h2>Bestallningar</h2>

<div class="d-flex">

    <div class="col-md-8 col-lg-8  border" style="height:800px">Lista</div>

    <div class="col-md-4 col-lg-4">

        <div class="border" style="height:500px">Input</div>

        <div class="border" style="height:300px">Buttons</div>


    </div>
</div>